{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Summary</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.content_summary }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>


    <body>
        <h1>Multiple Select Question</h1>
        <form method="POST">
            <label for="options">Select one or more options:</label>
            <br>
            <select name="options" id="options" multiple>
                {% for keyword in keywords %}
                    <option value="{{ keyword }}">{{ keyword }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>



</div>
{% endblock %}